* {
  font-family: 'Rubik', sans-serif;
}

body {
  background: #36D1DC;  
  background: -webkit-gradient(linear, left top, right top, from(#5B86E5), to(#36D1DC));  
  background: linear-gradient(to right, #5B86E5, #36D1DC); 
}

h1 {
  text-align: center;
  font-size: 42px;
  margin: 10px 0 20px 0;
  color: #fff;
}

.image-container {
  position: relative;
  margin: auto;
  width: 800px;
  height: 560px;
  overflow: hidden;
}

#image-strip {
  position: relative;
  width: 4000px;
  -webkit-transition: 700ms;
  transition: 700ms;
}

.images {
  margin-right: -4px; /* removes inline-block margin */
}

.arrows {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 255px;
  border-radius: 50%;
  border: 1px solid #fff;
}

#left-arrow {
  /* add transparent background to grey button */
  background: url(../images/left-arrow.png);
  background-size: cover;
  background-position-x: -3px;
  left: 15px;
}

#right-arrow {
  background: url(../images/right-arrow.png);
  background-size: cover;
  background-position-x: 3px;
  right: 15px;
}

.bullets {
  width: 16px;
  height: 18px;
  position: absolute;
  bottom: 18px;
  border-radius: 50%;
  background: rgba(240, 240, 240, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.active {
  background: rgba(130, 144, 250, 1);
}

#bullet-0 {
  left:341px;
}

#bullet-1 {
  left:366px;
}

#bullet-2 {
  left:391px;
}

#bullet-3 {
  left:416px;
}

#bullet-4 {
  left:441px;
}

.image-0 {
  right: 0px;
}

.image-1 {
  right: 800px;
}

.image-2 {
  right: 1600px;
}

.image-3 {
  right: 2400px;
}

.image-4 {
  right: 3200px;
}